* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(60deg, rgba(80, 203, 252, 0.774) 40%, rgb(59, 157, 202));
  height: 100vh;
  overflow: hidden;
  color: #101f22;
  font-family: 'Lato', sans-serif;
}

.calculator-holder {
  display: flex;
}

.calculator {
  width: 60%;
  max-width: 300px;
  min-width: 200px;
  height: 350px;
  margin: 60px auto;
}

.calculator-btn {
  display: grid;
  height: 85%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  background-color: #858693;
  border-radius: 5px;
  padding-top: 1px;
}

.result {
  background-color: #858693;
  color: #fff;
  height: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 18px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}

.btn-div {
  margin: 0;
  padding: 0;
}

.btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.btn:active {
  transform: translate(0.5px, 0.5px);
  box-shadow: 0.5px 0.5px gray;
}

.double {
  grid-column: 1/3;
}

.color2 {
  background-color: #e0e0e0;
}

.color1 {
  background-color: #046792;
  color: #fff;
}

.QuoteDiv {
  height: 500px;
}

.quote-div {
  width: 60%;
  height: 200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
}

.quote-btn {
  width: 50%;
  height: 30px;
}

.active {
  color: #fff !important;
  text-decoration: underline !important;
}
