.homeDiv {
  width: 80%;
  height: 100%;
  padding: 50px;
  margin: 0 auto;
}

.h2Home {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: bold;
}

.homeDiv > p {
  font-size: 23px;
  padding: 0 30px;
  text-align: justify;
}
