.calculator-holder {
  display: flex;
}

.calculator {
  width: 60%;
  max-width: 350px;
  height: 280px;
  margin: 60px auto;
}

.calculator-btn {
  display: grid;
  height: 85%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.result {
  background-color: #858693;
  color: #fff;
  height: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 5px;
}

.btn-div {
  margin: 0;
  padding: 0;
}

.btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.double {
  grid-column: 1/3;
}

.gray {
  background-color: #e0e0e0;
}

.orange {
  background-color: #f5913e;
}

.quote-div {
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.quote-btn {
  width: 50%;
  height: 30px;
}
